# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/
*.csv
*.zip
*.tar.gz

# Models
models/
*.pkl
*.h5
*.pt
*.pth

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db